<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img src="img/gaL1YhuR0ez94y4NNKgc_riempitivo.png" width="23%" height="auto" style="width: 23%; height: auto;">
        <img src="img/qk486sLCSEyU9AQEyufg_logo.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <img src="img/ePSHb0ESGKuiWF6xLp6w_divisorio.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <a href="#/page3/profilo" class="button button-balanced button-block ">Sezione Allenati</a>
        <button ui-sref="tabsController.cerca" class="button button-balanced button-block ">Trova Allenamento</button>
        <a href="#/tabsControllerTrainer/profiloTrainer" class="button button-balanced button-block">Sezione Allenatori</a>
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <img src="img/ePSHb0ESGKuiWF6xLp6w_divisorio.png" width="100%" height="auto" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>