<ion-view title="Profilo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img src="img/goTJatcdQy2x8dM35fJZ_riempitivo.png" width="37%" height="5%" style="width: 37%; height: 5%;">
        <img src="img/h1V3Of8WQwSYDLucNdVJ_logo-100x71.gif" width="25%" height="auto" style="width: 25%; height: auto;">
        <img src="img/goTJatcdQy2x8dM35fJZ_riempitivo.png" width="20%" height="5%" style="width: 20%; height: 5%;">
        <img src="img/efrPolhQb6s0otMzlRD8_background2.1.jpg" width="100%" height="20%" style="width: 100%; height: 20%;">
        <h5>Specialità</h5>
    </ion-content>
</ion-view>